.body {
        background-color: #F5F1E8;
        color: #333333;
        margin: 0;
        padding: 0;
    }
   
nav a {
    color: #F4A261;
    text-decoration: none;
    padding: 20px 20px;
}

nav a:hover {
    color: #333333;
}
 .form-control{
    border-radius: 10px 10px 0 0;

 }

.btn-search{
    color: white;
    border-radius: 10px;
    background-color: #F4A261;
    border: none;
   
   

}
.card{
    max-width: 800px;
    max-height: 500px;
    display: flex;
   margin: auto;
   margin-top: 50px;
}

.container{
    width: 800px;
    height:300px;
}
.visually-hidden{
    color: #F4A261;
}



.gallery-container {
    position: relative;
    width: 1100px;
    height: 400px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(150px * 8); /* 8 kitap genişliği */
}

.book {
    width: 100px;
    margin: 30px;
    text-align: center;

}

.book:hover {transform: scale(1.1);

}
.book-title{
    margin-top:15px;
    background-color:#F5F1E8;
    color: #F4A261;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.book img {
    width: 100px;
    border-radius: 5px;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}

.nav-button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}



.add-to-cart{
    display: none;
    transform: translateY(-50%);
    background-color:#F4A261 ;
    color: white;
    border: none;
    margin-top:80px;
    padding: 20px;
    cursor: pointer;
    border-radius: 10%;
}




  

  
  .overlay-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    color:#F4A261;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    display: none; /* Varsayılan olarak gizli olsun */
  }
  
  /* Hover durumunda buton görünsün */
  .book:hover .overlay-btn {
    display: block;
  }

.book:hover .add-to-cart{
    display: block;
}

.footer{
    font-size: 30px;
    margin-top: 25px;
    color:#F4A261 ;
    text-align: center;
}

.icon:hover {
    transform: scale(1.2)
}




/*Books HTML*/
.img-fluid{
    padding:20px
}

.card-title{

    margin-top: 25px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}

.fa-book-open{
margin-left: 49%;
}

.star {
    color: #F4A261;
  margin-top: 2px;
   margin-left:190px;
}
.star-2{
    color: #F4A261;
  margin-top: 2px;
   margin-left:170px;
}
.star-3{
    color: #F4A261;
  margin-top: 2px;
   margin-left:320px;
}


#white-star{
    color:wheat;
}


.fav{
    border: none;
    background-color: white;
   
   color: #F4A261;
    
}

.fav:hover{
    background-color: #F4A261;
    color: white;
}

.favoriler{
    color: #F4A261;
    text-align: center;
}

.add-to-cart-2{

    border: none;
    background-color: white;
    color: #F4A261;
}

.add-to-cart-2:hover{
    background-color: #F4A261;
    color: white;
}


