.body {
        background-color: #F5F1E8;
        color: #333333;
        margin: 0;
        padding: 0;
    }

nav a {
    color: #333333;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    color: #F4A261;
}

.search{
    color: white;
    border-radius: 5px;
    background-color: #F4A261;
   

}
