.body {
        background-color: #F5F1E8;
        color: #333333;
        margin: 0;
        padding: 0;
    }

nav a {
    color: #F4A261;
    text-decoration: none;
    padding: 20px 20px;
}

nav a:hover {
    color: #333333;
}
 .form-control{
    border-radius: 10px 10px 0 0;

 }

.btn-search{
    color: white;
    border-radius: 10px;
    background-color: #F4A261;
    border: none;
   
   

}
.card{
    max-width: 800px;
    max-height: 500px;
    display: flex;
   margin: auto;
   margin-top: 50px;
}

.container{
    width: 800px;
    height:300px;
}
.visually-hidden{
    color: #F4A261;
}



.gallery-container {
    position: relative;
    width: 1100px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(150px * 8); /* 8 kitap genişliği */
}

.book {
    min-width: 100px;
    margin: 30px;
    text-align: center;
}

.book img {
    width: 100%;
    border-radius: 5px;
}

.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}

.nav-button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}